* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0f0f0f;
  background-image: radial-gradient(#1a1a1a 1px, transparent 1px);
  background-size: 18px 18px;
  font-family: Arial, sans-serif;
}
